{% extends "base.html" %} {% block main %}
<div class="container">
    <form class="form-signin" action="/signin" method="post">
        <h2 class="form-signin-heading">登录</h2>

        <!-- 用户名输入框 -->
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" class="form-control" placeholder="Username" id="inputUsername" required autofocus>

        <!-- 密码输入框 -->
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password" id="inputPassword" required>

        <!-- 记住密码选择框 -->
        <div class="checkbox">
            <label>
                <input type="checkbox" value="rem-password"> 记住密码
            </label>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
    </form>
</div>
{% endblock %}